@{
    ViewData["Title"] = "Про нас";
}
<div class="custom-container">
    <h2>@ViewData["Title"]</h2>
    <p>Ми - компанія, яка прагне до інновацій та якості у всьому, що робимо.</p>
    <a href="/" class="custom-button">Повернутися на головну</a>
</div>
