@{
    ViewData["Title"] = "Наші послуги";
}
<div class="custom-container">
    <h2>@ViewData["Title"]</h2>
    <p>Ми пропонуємо широкий спектр послуг, які допоможуть вашому бізнесу розвиватися.</p>
    <a href="/" class="custom-button">Повернутися на головну</a>
</div>
